@import "../../index.scss";

form {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .first-row {
    display: flex;
    width: 35%;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .second-row {
    display: flex;
    width: 35%;
    flex-direction: column;
    justify-content: space-evenly;

    .form-buttons-container {
      width: 100%;
      margin-top: 7%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}

//Input style

label {
  font-weight: 500;
  font-style: bold;
  font-size: 1vw;
  color: $dark-theme-green-background;
}

input {
  color: black;
  font-size: 1vw;
  border-width: 0;
  outline: none;
  background-color: white;
}

.input-style {
  display: flex;
  flex-direction: column;
}


//Buttons style

.submit-form-button {
  height: 100%;
  width: 40%;
  font-size: 1vw;
  font-family: inherit;
  font-weight: 500;
  border-radius: 8vw;
  border: 0.1vw solid silver;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  color: black;
}

.close-form-button {
  background-color: rgb(130, 5, 5);
  height: 100%;
  width: 40%;
  border-radius: 8vw;
  font-family: inherit;
  border: 0.1vw solid rgb(180, 8, 8);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  span {
    font-size: 1vw;
    color: white;
  }
}

.highlighted-button {
  background-color: $dark-theme-green-background;
  color: black;
  cursor: pointer;
}

@import "form_responsive.scss";