.weather-mini-card {
    border-left: 1px solid black;
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 1vw;
    }

    .first-row {
        height: 100%;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .second-row {
        font-size: 1vw;

        .temperature-mini-card,
        .rain-prob-mini-card {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 70%;
            }
        }
    }
}

@import "weather_mini_card_responsive.scss";