// Mixin for weather-mini-card styles
@mixin weather-mini-card-styles($border-left, $flex-direction, $height) {
    .weather-mini-card {
        border-left: $border-left;
        flex-direction: $flex-direction;
        height: $height;
    }
}

// Mixin for h1 styles
@mixin weather-mini-card-h1-styles($font-size) {
    .weather-mini-card {
        h1 {
            font-size: $font-size;
        }
    }
}

// Mixin for first-row styles
@mixin weather-mini-card-first-row-styles($flex-direction, $margin-left, $img-margin-left, $img-width, $img-max-width) {
    .weather-mini-card {
        .first-row {
            flex-direction: $flex-direction;
            margin-left: $margin-left;

            img {
                margin-left: $img-margin-left;
                width: $img-width;
                max-width: $img-max-width;
            }
        }
    }
}

// Mixin for second-row styles
@mixin weather-mini-card-second-row-styles($font-size, $flex-direction) {
    .weather-mini-card {
        .second-row {
            font-size: $font-size;
            flex-direction: $flex-direction;

            .temperature-mini-card,
            .rain-prob-mini-card {
                flex-direction: $flex-direction;
                align-items: center;

                img {
                    width: 20%;
                }
            }
        }
    }
}

// Portrait orientation
@media (orientation: portrait) {
    // Phones
    @media (min-width: 300px) and (max-width: 599px) {
        @include weather-mini-card-styles(0, row, 100%);
        @include weather-mini-card-h1-styles(1.5vh);
        @include weather-mini-card-first-row-styles(row, 5%, 0%, 40%, null);
        @include weather-mini-card-second-row-styles(2vh, row);
    }

    // Tablets
    @media (min-width: 600px) and (max-width: 1024px) {
        @include weather-mini-card-styles(0, row, 100%);
        @include weather-mini-card-h1-styles(1.5vh);
        @include weather-mini-card-first-row-styles(row, 10%, 35%, null, 20%);
        @include weather-mini-card-second-row-styles(2vh, row);
    }
}

// Landscape orientation
@media (orientation: landscape) {
    // Horizontal phones
    @media (min-width: 600px) and (max-width: 1024px) {
        .weather-mini-card {
            height: 100%;

            h1 {
                font-size: 70%;
            }

            .first-row {
                img {
                    width: 30%;
                }
            }

            .second-row {
                font-size: 70%;

                .temperature-mini-card,
                .rain-prob-mini-card {
                    img {
                        width: 60%;
                    }
                }
            }
        }
    }
}