// Portrait orientation
@media (orientation: portrait) {
    @media (min-width: 300px) and (max-width: 1024px) {
        .weather-mini-card {
            height: 16.6%;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .first-row {
                width: 33.3%;
                display: flex;
                flex-direction: row;
                align-items: center;

                img {
                    width: 40%;
                }
            }

            .second-row {
                height: 100%;
                width: 33.3%;
                flex-direction: row;

                .temperature-mini-card,
                .rain-prob-mini-card {
                    flex-direction: row;
                    align-items: center;

                    img {
                        width: 40%;
                    }
                }
            }

            .third-row {
                height: 100%;
                width: 20%;
                border-bottom-left-radius: 0;

                :last-child {
                    border-bottom-right-radius: 0;
                }


                .full-report-button {
                    font-size: 3.5vh;
                    border-left: 1px solid black;
                }
            }
        }
    }
}

// Landscape orientation
@media (orientation: landscape) {

    // Horizontal phones
    @media (min-width: 600px) and (max-width: 1024px) {
        .weather-mini-card {
            font-size: 60%;

            .first-row {
                height: 40%;

                img {
                    width: 60%;
                }
            }

            .second-row {
                height: 40%;
                font-size: 100%;

                .temperature-mini-card,
                .rain-prob-mini-card {
                    img {
                        width: 60%;
                    }
                }
            }
        }
    }
}