//Variable initialization

$lightThemeBackground: white;
$lightThemeFontColor: black;
$lightThemeBackgroundHover: blue;
$lightThemeFontColorSelected: white;
$darkThemeBackground: #1a1a1a;
$darkThemeFontColor: white;
$darkThemeBackgroundHover: #39fe90;
$darkThemeFontColorSelected: black;

//Language Buttons

.language-button {
  background-color: $darkThemeBackground;
  border: 0.1vw solid silver;
  border-radius: 15%;
  padding: 1vh 1vw;
  height: 100%;
  width: 7%;
  margin-right: 2vw;
  font-size: 1vw;
  font-weight: 500;
  font-family: inherit;
  color: $darkThemeFontColor;
  cursor: pointer;

  :hover {
    background-color: $darkThemeBackgroundHover;
    color: $darkThemeFontColorSelected;
  }
}

.highlighted-button {
  background-color: $darkThemeBackgroundHover;
  color: $darkThemeFontColorSelected;
}

//Sidebar Buttons

.sidebar-toggle-button {
  margin-right: 10%;
  margin-bottom: 7%;
  background-color: #39fe90;
  border-width: 0;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  font-size: xx-large;
  cursor: pointer;
  animation: MakeSidebarEyeCatching infinite 0.8s alternate;
}

.city-option {
  color: black;
  font-weight: 500;
  font-size: 3.5vh;
  text-align: center;
  border-radius: 1%;
  padding: 25% 0;
  cursor: pointer;
  background-color: #39fe90;
  border: 0;
}

.city-option:hover {
  background-color: #27b164;
}

.hide {
  animation: none;
}

//Animations for sidebar buttons

@keyframes MakeSidebarEyeCatching {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.3);
  }
}

@import "ButtonResponsive";
