// Mixin for server error styles
@mixin server-error-styles($height, $img-height, $img-width) {
    .server-error {
        height: $height;

        img {
            height: $img-height;
            width: $img-width;
        }
    }
}

// Portrait orientation
@media (orientation: portrait) {
    // Phones and Tablets
    @media (min-width: 300px) and (max-width: 1024px) {
        @include server-error-styles(80vh, 40%, 60%);
    }
}

// Landscape orientation
@media (orientation: landscape) {
    // Horizontal phones
    @media (min-width: 600px) and (max-width: 767px) {
        @include server-error-styles(70vh, 50%, 40%);
    }

    // Horizontal tablets
    @media (min-width: 768px) and (max-width: 1024px) {
        @include server-error-styles(65vh, 50%, 30%);
    }

    // Laptops and bigger devices
    @media (min-width: 1024px) and (max-width: 1440px) {
        @include server-error-styles(70vh, 50%, 40%);
    }
}