@import "../../index.scss";

.server-error {
    height: 69vh;
    width: 100%;
    background-color: var(--theme-colored-background);
    text-align: center;
    border-radius: 5%;

    img {
        height: 50%;
        width: 40%;
    }
}

@import "server-error-responsive.scss";