// Portrait orientation
@media (orientation: portrait) {
    // Phones and Tablets
    @media (min-width: 300px) and (max-width: 1024px) {
        .weather-card {
            font-size: 2vh;

            .weather-info {
                .first-row {
                    height: 35%;

                    img {
                        width: 50%;
                    }
                }

                .third-row {
                    display: flex;
                    flex-direction: column;

                    .max-temp,
                    .min-temp,
                    .rain-prob {
                        flex-direction: row;
                        border-right: 0;
                        margin-left: 2%;

                        .weather-category {
                            img {
                                width: 40%;
                            }
                        }
                    }
                }
            }

            .city-info {
                .city-info-card {
                    margin-top: 30%;
                }

                .show-more {
                    .full-report-button {
                        font-size: 5vh;
                    }
                }
            }
        }
    }
}

// Landscape orientation
@media (orientation: landscape) {
    // Horizontal devices
    @media (min-width: 300px) and (max-width: 1024px) {
        .weather-card {
            font-size: 1.2vw;
        }
    }
}