@import '../../index.scss';

.weather-card {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 1vw;

    .weather-info {
        height: 100%;
        width: 50%;
        border-right: 0.1vw solid black;

        .first-row {
            height: 40%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;

            img {
                width: 30%;
            }
        }

        .second-row {
            height: 20%;
            color: black;
            font-weight: 500;
            justify-content: center;
        }

        .third-row {
            height: 40%;
            display: flex;
            flex-direction: row;

            .max-temp,
            .min-temp,
            .rain-prob {
                border-right: 1px solid #1f2222;
                border-top: 1px solid #1f2222;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                font-weight: 500;

                .weather-category {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 40%;
                    }
                }
            }

            .rain-prob {
                border-right: 0;
            }
        }
    }

    .city-info {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .city-info-card {
            margin-top: 10%;
        }

        .show-more {
            height: 25%;
            width: 100%;
            background: var(--theme-colored-background);

            .full-report-button {
                border: 0;
                border-top: 1px solid rgb(34, 34, 34);
                width: 100%;
                height: 100%;
                font-size: 3vw;
                background: none;
                opacity: 0.6;
            }
        }
    }
}

@import "weather_card_responsive.scss"