.weather-card {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 0.1vw solid black;
    margin-bottom: 2%;

    .first-row {
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
            margin-right: 50%;
            margin-left: -30%;
        }
    }

    .second-row {
        color: black;
        font-weight: 500;
    }

    .third-row {
        display: flex;
        flex-direction: row;

        img {
            height: 100%;
            width: 30%;
        }

        .max-temp,
        .min-temp,
        .rain-prob {
            border: 1px solid #1f2222;
            border-left: 0;
            display: flex;
            flex-direction: column;
            font-weight: 500;
            border-bottom: 0;

            .weather-info {
                margin-top: 10%;
                margin-bottom: 5%;
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
        }

        .rain-prob {
            border-right: 0;
        }
    }
}

@import "weather-card-responsive.scss"