//Variable initialization

$emoji-height-portrait-phone: 30%;
$emoji-width-portrait-phone: 60%;
$emoji-height-portrait-tablet: 40%;
$emoji-width-portrait-tablet: 60%;
$emoji-width-portrait-bigger-tablet: 50%;
$font-size-h1-portrait-phone: 6vw;
$font-size-h1-portrait-tablet: 3vw;
$font-size-h1-portrait-bigger-tablet: 5vw;
$font-size-span-portrait-phone: 4vw;
$font-size-span-portrait-tablet: 2vw;
$font-size-span-portrait-bigger-tablet: 3vw;

$emoji-height-landscape-phone: 50%;
$emoji-width-landscape-phone: 30%;
$emoji-width-landscape-laptop: 40%;
$font-size-h1-landscape: 3vw;
$font-size-span-landscape: 2vw;

// Mixin for emoji styles
@mixin emoji-styles($height, $width) {
  .emoji {
    height: $height;
    width: $width;
  }
}

// Mixin for text styles
@mixin text-styles($font-size-h1, $font-size-span) {
  h1 {
    font-size: $font-size-h1;
  }

  span {
    font-size: $font-size-span;
  }
}

// Portrait orientation
@media (orientation: portrait) {
  // Phones
  @media (min-width: 300px) and (max-width: 599px) {
    @include emoji-styles($emoji-height-portrait-phone, $emoji-width-portrait-phone);
    @include text-styles($font-size-h1-portrait-phone, $font-size-span-portrait-phone);
  }

  // Tablets
  @media (min-width: 600px) and (max-width: 767px) {
    @include emoji-styles($emoji-height-portrait-tablet, $emoji-width-portrait-tablet);
    @include text-styles($font-size-h1-portrait-tablet, $font-size-span-portrait-tablet);
  }

  // Bigger Tablets and other devices
  @media (min-width: 768px) and (max-width: 1024px) {
    @include emoji-styles($emoji-height-portrait-tablet, $emoji-width-portrait-bigger-tablet);
    @include text-styles($font-size-h1-portrait-bigger-tablet, $font-size-span-portrait-bigger-tablet);
  }
}

// Landscape orientation
@media (orientation: landscape) {
  // Horizontal phones
  @media (min-width: 300px) and (max-width: 599px) {
    @include emoji-styles($emoji-height-landscape-phone, $emoji-width-landscape-phone);
  }

  // Horizontal tablets and bigger devices
  @media (min-width: 600px) and (max-width: 1024px) {
    @include emoji-styles($emoji-height-landscape-phone, $emoji-width-landscape-phone);
    @include text-styles($font-size-h1-landscape, $font-size-span-landscape);
  }

  // Laptops and bigger devices
  @media (min-width: 1024px) and (max-width: 1440px) {
    @include emoji-styles($emoji-height-landscape-phone, $emoji-width-landscape-laptop);
    @include text-styles($font-size-h1-landscape, $font-size-span-landscape);
  }
}