@import "../../index.scss";

.empty-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $dark-theme-green-background;
  border-radius: inherit;
  font-size: 1vw;

  .emoji {
    height: 40%;
    width: 30%;
  }

  h1 {
    font-size: 2vw;
  }

  span {
    font-size: 1vw;
  }

  @import "empty_content_responsive";
}