@import "../index.scss";

.modal-background {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    height: 65vh;
    width: 95vh;
    background-color: #1f2222;
    position: absolute;
    z-index: 5;
    border: solid 0.5vh $dark-theme-green-background;
    animation: MakeModalPop ease-out 0.5s;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
      text-align: center;
      font-size: 2vw;
      color: $dark-theme-green-background;
    }
  }
}

@import "modal_form_responsive.scss";