// Mixin for modal styles
@mixin modal-styles($font-size-h1) {
    .modal-background {
        height: 100%;

        .modal {
            height: 85%;
            width: 85%;

            h1 {
                font-size: $font-size-h1;
            }
        }
    }
}

// Portrait orientation
@media (orientation: portrait) {
    // Phones
    @media (min-width: 300px) and (max-width: 599px) {
        @include modal-styles(3vh);
    }

    // Tablets and Bigger Tablets
    @media (min-width: 600px) and (max-width: 1024px) {
        @include modal-styles(5vw);
    }
}

// Landscape orientation
@media (orientation: landscape) {
    // Horizontal phones
    @media (min-width: 600px) and (max-width: 767px) {
        @include modal-styles(4vw);
    }

    // Laptops and bigger devices
    @media (min-width: 768px) and (max-width: 1440px) {
        @include modal-styles(4vw);
    }
}