// Mixin for sidebar styles
@mixin sidebar-styles($width) {
  .sidebar {
    width: $width;
    border-top-right-radius: 0;
  }
}

// Mixin for sidebar-toggle styles
@mixin sidebar-toggle-styles() {
  .sidebar-toggle {
    width: 40%;
    height: 12%;
    top: 0;
  }
}

// Portrait orientation
@media (orientation: portrait) {
  // Phones and Tablets
  @media (min-width: 300px) and (max-width: 1024px) {
    @include sidebar-styles(45vw);
    @include sidebar-toggle-styles;
  }
}

// Landscape orientation
@media (orientation: landscape) {
  // Horizontal phones and bigger devices
  @media (min-width: 600px) and (max-width: 1440px) {
    @include sidebar-styles(15vw);
    @include sidebar-toggle-styles;
  }
}