@import "../../index.scss";

.sidebar {
  border-radius: 1em;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  position: fixed;
  background-color: var(--theme-colored-background);
  height: 100%;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  transform: translateX(-101%);
  left: 0;
  top: 0;

  h1 {
    font-size: 4vh;
  }

  p {
    color: black;
    font-weight: 500;
    font-size: 2vh;
    text-align: center;
  }
}

.visible {
  animation: ShowSidebarAnimation forwards 0.5s;
}

.not-visible {
  animation: HideSidebarAnimation forwards 0.5s;
}

.sidebar-toggle {
  width: 30%;
  height: 10%;
  background-color: var(--theme-colored-background);
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  cursor: pointer;
  bottom: 45%;
  margin-left: 100%;
  position: absolute;
}

//Buttons style

.sidebar-toggle-button {
  height: 100%;
  width: 100%;
  background-color: var(--theme-colored-background);
  border-width: 0;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  cursor: pointer;

  span {
    font-size: 4vh;
    margin-right: 10%;
    animation: MakeSidebarEyeCatching infinite 0.5s alternate;
  }
}

.city-option {
  color: black;
  font-weight: 500;
  font-size: 4vh;
  text-align: center;
  border-radius: 1%;
  padding: 25% 0;
  cursor: pointer;
  background-color: var(--theme-colored-background);
  border: 0;

  &:hover {
    background-color: var(--theme-colored-hover);
  }
}

.hide>span {
  animation: none;
}

.display-form-button {
  background-color: var(--theme-colored-background);
  border: none;
  padding: 0;
  font-family: inherit;
  font-size: inherit;

  span {
    text-decoration: underline;
    color: blue;
    font-size: inherit;
    cursor: pointer;
    font-family: inherit;
  }
}

//Animations for sidebar

@keyframes ShowSidebarAnimation {
  0% {
    transform: translateX(-101%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes HideSidebarAnimation {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-101%);
  }
}

//Animations for sidebar buttons

@keyframes MakeSidebarEyeCatching {
  0% {
    font-size: 5vh;
  }

  100% {
    font-size: 6vh;
  }
}

@import "sidebar_responsive";