// Portrait orientation
@media (orientation: portrait) {
  // Phones and Tablets
  @media (min-width: 300px) and (max-width: 1024px) {
    .sidebar {
      width: 45vw;
      border-top-right-radius: 0;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
      p {
        font-size: 3vw;
      }
    }

    .sidebar-toggle {
      width: 40%;
      height: 12%;
      top: 0;
    }
  }
}

// Landscape orientation
@media (orientation: landscape) {
  // Horizontal phones
  @media (min-width: 600px) and (max-width: 1024px) {
    .sidebar {
      width: 15vw;
      border-top-right-radius: 0;

      p {
        font-size: 1.3vw;
      }
    }

    @media (min-width: 1024px) {
      p {
        font-size: 1.8vw;
      }
    }

    .sidebar-toggle {
      width: 40%;
      height: 12%;
      top: 0;
    }
  }

  // Laptops and bigger devices
  @media (min-width: 1024px) and (max-width: 1440px) {
    .sidebar {
      width: 15vw;
      border-top-right-radius: 0;

      p {
        font-size: 1.8vw;
      }
    }

    .sidebar-toggle {
      width: 45%;
      height: 12%;
      top: 0;
    }
  }
}