.sidebar {
  top: 0;
  border-radius: 1%;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  position: fixed;
  background-color: #39fe90;
  height: 100vh;
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.sidebar > Button {
  color: black;
  font-weight: 500;
  font-size: 3.5vh;
  text-align: center;
  border-radius: 1%;
  padding: 25% 0;
  cursor: pointer;
  background-color: #39fe90;
  border: 0;
}

.sidebar > Button:hover {
  background-color: #27b164;
}

.sidebar > h1 {
  font-size: 4vh;
}

.sidebar > p {
  color: black;
  font-weight: 500;
  font-size: 2vh;
  text-align: center;
}

.sidebar a {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

.first-time {
  margin-right: 115%;
}

.visible {
  margin-right: 115%;
  animation: ShowSidebarAnimation forwards 0.5s;
}

.not-visible {
  margin-right: 115%;
  animation: HideSidebarAnimation forwards 0.5s;
}

.toggle-sidebar {
  width: 30%;
  height: 10%;
  background-color: #39fe90;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  bottom: 45%;
  margin-left: 100%;
  position: absolute;
}

.toggle-sidebar > h1 {
  cursor: pointer;
  font-size: 4vh;
  height: 80%;
}

.show {
  animation: MakeSidebarEyeCatching infinite 1s alternate;
  margin-top: 50%;
  margin-right: 15%;
}

.hide {
  margin-top: 50%;
  margin-right: 15%;
}

//Animations

@keyframes ShowSidebarAnimation {
  0% {
    margin-right: 115%;
  }

  100% {
    margin-right: 85%;
  }
}

@keyframes HideSidebarAnimation {
  0% {
    margin-right: 85%;
  }

  100% {
    margin-right: 115%;
  }
}

@keyframes MakeSidebarEyeCatching {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.3);
  }
}
