@import "../../components/button/Button.scss";

.sidebar {
  border-radius: 1%;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  position: fixed;
  background-color: #39fe90;
  height: 100vh;
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  transform: translateX(-101%);
  left: 0;

  h1 {
    font-size: 4vh;
  }

  p {
    color: black;
    font-weight: 500;
    font-size: 2vh;
    text-align: center;
  }

  a {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
  }
}

.visible {
  animation: ShowSidebarAnimation forwards 0.5s;
}

.not-visible {
  animation: HideSidebarAnimation forwards 0.5s;
}

.sidebar-toggle {
  width: 30%;
  height: 10%;
  background-color: #39fe90;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  bottom: 45%;
  margin-left: 100%;
  position: absolute;
}

//Animations

@keyframes ShowSidebarAnimation {
  0% {
    transform: translateX(-101%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes HideSidebarAnimation {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-101%);
  }
}
