.weather-city-info-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1vw;

    .date {
        font-size: 100%;
    }
}

@import "weather_city_info_card_responsive.scss"