@mixin toggleButton($background-color) {
    height: 100%;
    width: 100%;
    font-size: x-large;
    border-radius: 25%;
    background-color: $background-color;
}

.theme-setter-container {
    margin-top: 6vh;
}

.light-button {
    @include toggleButton(#fffffd)
}

.dark-button {
    @include toggleButton(#1f2222);
}