.theme-setter-container {
    margin-top: 2%;
}

.light-button {
    height: 150%;
    width: 125%;
    background-color: #fffffd;
}

.dark-button {
    height: 150%;
    width: 125%;
    background-color: #1f2222;
}