.theme-setter-container {
    margin-top: 3%;
}

.light-button {
    height: 100%;
    width: 100%;
    font-size: x-large;
    background-color: #fffffd;
}

.dark-button {
    height: 100%;
    width: 100%;
    font-size: x-large;
    background-color: #1f2222;
}