// Variable initialization

$height-portrait: 80vh;
$img-height-portrait: 40%;
$img-width-portrait: 60%;

$height-landscape-phone: 70vh;
$img-height-landscape-phone: 50%;
$img-width-landscape-phone: 40%;

$height-landscape-tablet: 65vh;
$img-height-landscape-tablet: 50%;
$img-width-landscape-tablet: 30%;

$height-landscape-laptop: 70vh;
$img-height-landscape-laptop: 50%;
$img-width-landscape-laptop: 40%;

// Mixin for error styles
@mixin error-styles($height, $img-height, $img-width) {
    .client-error {
        height: $height;

        img {
            height: $img-height;
            width: $img-width;
        }
    }
}

// Portrait orientation
@media (orientation: portrait) {
    // Phones and Tablets
    @media (min-width: 300px) and (max-width: 1024px) {
        @include error-styles($height-portrait, $img-height-portrait, $img-width-portrait);
    }
}

// Landscape orientation
@media (orientation: landscape) {
    // Horizontal phones
    @media (min-width: 600px) and (max-width: 767px) {
        @include error-styles($height-landscape-phone, $img-height-landscape-phone, $img-width-landscape-phone);
    }

    // Horizontal tablets
    @media (min-width: 768px) and (max-width: 1024px) {
        @include error-styles($height-landscape-tablet, $img-height-landscape-tablet, $img-width-landscape-tablet);
    }

    // Laptops and bigger devices
    @media (min-width: 1024px) and (max-width: 1440px) {
        @include error-styles($height-landscape-laptop, $img-height-landscape-laptop, $img-width-landscape-laptop);
    }
}
