WeatherReport>.London {
    background-color: black
}

.weather-widget {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.weather-widget>.first-row {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.weather-widget>.second-row {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.location-date {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.1vw solid #1f2222;
    border-left-color: #1f2222;
    border-left-width: 0;
    border-top-width: 0;
    border-right-color: #1f2222;
    border-bottom-right-radius: 10%;
    border-bottom-width: 2%;
    font-size: 1vw;
}

.date {
    font-size: 1vw;
}