WeatherReport>.London {
    background-color: black
}

.weather-widget {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .first-row {
        display: flex;
    }

    .second-row {
        height: 100%;
        display: flex;

        :first-child {
            border-left: none;
        }
    }

}

@import "weather-widget-responsive.scss"