@import "../../index.scss";

.language-buttons-container {
  margin-bottom: 3%;
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0;
}

.language-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--theme-background);
  border: 0.1vw solid silver;
  border-radius: 15%;
  padding: 0.5% 1%;
  width: 7%;
  font-family: inherit;
  margin-right: 2vw;
  cursor: pointer;

  span {
    font-size: 1vw;
    font-weight: 500;
    color: var(--theme-font-color);
  }

  &:hover {
    background-color: var(--theme-colored-hover);

    span {
      color: var(--theme-font-color-selected);
    }
  }
}

.highlighted-button {
  background-color: var(--theme-colored-background);

  span {
    color: var(--theme-font-color-selected);
  }
}

@import "language_buttons_responsive.scss";