// Portrait orientation
@media (orientation: portrait) {
  // Phones
  @media (min-width: 300px) and (max-width: 599px) {
    .language-button {
      height: 5vh;
      width: 20vw;
      margin-right: 5%;
      margin-left: 4vh;
      margin-top: 10%;

      span {
        font-size: 4vw;
      }
    }
  }

  // Tablets and bigger devices
  @media (min-width: 600px) and (max-width: 767px),
  (min-width: 768px) and (max-width: 1024px) {
    .language-button {
      height: 5vh;
      width: 15vw;
      margin-right: 5%;
      margin-top: 10%;
      margin-left: 4vh;

      span {
        font-size: 3vw;
      }
    }
  }
}

// Landscape orientation
@media (orientation: landscape) {
  // Horizontal phones and bigger devices
  @media (min-width: 600px) and (max-width: 1440px) {
    .language-button {
      height: 7vh;
      width: 10vw;
      margin-top: 10%;
      margin-left: 2vw;

      span {
        font-size: 2vw;
      }
    }
  }
}