@import "../../index.scss";

.language-buttons-container {
  margin-bottom: 5%;
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0;
}

.language-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $dark-theme-background;
  border: 0.1vw solid silver;
  border-radius: 15%;
  padding: 1vh 1vw;
  width: 7%;
  font-family: inherit;
  margin-right: 2vw;
  cursor: pointer;

  span {
    font-size: 1vw;
    font-weight: 500;
    color: $dark-theme-font-color;
  }

  &:hover {
    background-color: $dark-theme-green-hover;

    span {
      color: $dark-theme-font-color-selected;
    }
  }
}

.highlighted-button {
  background-color: $dark-theme-green-background;

  span {
    color: $dark-theme-font-color-selected;
  }
}

@import "LanguageButtonResponsive.scss";