@import '../../index.scss';

.full-weather-report {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;

    .first-row {
        display: flex;
        height: 10%;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border-bottom: solid grey 1px
    }

    .close-button {
        background-color: rgb(130, 5, 5);
        height: 95%;
        width: 10%;
        border-radius: 8vw;
        font-family: inherit;
        border: 0.1vw solid rgb(180, 8, 8);
        cursor: pointer;

        span {
            color: white;
            font-size: 1vw;
        }
    }

    .second-row {
        height: 90%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .first-col {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            width: 50%;

            .main-info {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                width: 100%;
            }

            .forecast {
                display: flex;
                align-items: center;
                width: 100%;

                h2 {
                    text-align: center;
                    color: var(--theme-font-color);
                }
            }
        }

        .second-col {
            height: 100%;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            table {
                height: 100%;
                width: 100%;

                tr {
                    height: 27.5%;
                    width: 100%;
                    display: flex;
                    flex-direction: row;

                    td {
                        height: 100%;
                        width: 100%;
                        border-left: grey solid 1px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-around;
                    }
                }

                .description {
                    height: 5%;
                    border-bottom: grey solid 1px;
                    padding-bottom: 1%;

                    span {
                        color: var(--theme-font-color)
                    }
                }

            }

            img {
                height: 40%;
                width: 30%;
            }
        }
    }
}