//Variable initialization

$light-theme-background: white;
$light-theme-font-color: black;
$light-theme-blue-background: blue;
$light-theme-blue-hover: rgb(89, 136, 232);
$light-theme-font-color-selected: white;

$dark-theme-background: #1a1a1a;
$dark-theme-font-color: white;
$dark-theme-green-background: #39fe90;
$dark-theme-green-hover: #27b164;
$dark-theme-font-color-selected: black;


//General styles

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1f2222;
}

h1,
span {
  color: black;
}