// Variables to change the theme

.light {
  --theme-background: #e0e0e0;
  --theme-font-color: black;
  --theme-colored-background: #679ef1;
  --theme-colored-hover: #a4c6f9;
  --theme-font-color-selected: black;
}

.dark {
  --theme-background: #1f2222;
  --theme-font-color: white;
  --theme-colored-background: #39fe90;
  --theme-colored-hover: #27b164;
  --theme-font-color-selected: black;
}

//General styles

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--theme-background);
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

h1,
span {
  color: black;
  font-weight: 500;
}