.weather-widget {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .first-row {
        height: 50%;
    }

    .second-row {
        height: 50%;
        display: flex;

        :first-child {
            border-left: 0;

            .third-row {
                border-bottom-left-radius: 40%;
            }
        }

        :last-child {
            .third-row {
                border-bottom-right-radius: 40%;
            }
        }
    }
}

@import "weather_widget_responsive.scss"