@import "../index.scss";

.weather-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  .content {
    height: 69vh;
    width: 45vw;
    text-align: center;
    border-radius: 5%;

    &.london {
      background: url("../public/assets/london.jpg");
      background-size: cover;
    }

    &.singapore {
      background: url("../public/assets/singapore.jpg");
      background-size: cover;
    }

    &.toronto {
      background: url("../public/assets/toronto.jpg");
      background-size: cover;
    }
  }

  @import "app_responsive";
}