// Mixin for language buttons container styles
@mixin language-buttons-container-styles($margin-bottom) {
  .language-buttons-container {
    margin-bottom: $margin-bottom;
  }
}

// Mixin for content styles
@mixin content-styles($width) {
  .content {
    width: $width;
  }
}

// Portrait orientation
@media (orientation: portrait) {
  // Phones
  @media (min-width: 300px) and (max-width: 599px) {
    @include language-buttons-container-styles(7%);
    @include content-styles(80%);

  }

  // Tablets and Bigger Tablets
  @media (min-width: 600px) and (max-width: 1024px) {
    @include language-buttons-container-styles(4%);
    @include content-styles(70%);
  }
}

// Landscape orientation
@media (orientation: landscape) {
  // Horizontal phones and tablets
  @media (min-width: 600px) and (max-width: 1024px) {
    @include content-styles(60%);

    .content {
      height: 75%;
    }
  }

  // Laptops and bigger devices
  @media (min-width: 1024px) and (max-width: 1440px) {
    @include content-styles(65%);
  }
}