// Mixin for language buttons container styles
@mixin language-buttons-container-styles($margin-bottom) {
  .language-buttons-container {
    margin-bottom: $margin-bottom;
  }
}

// Mixin for content styles
@mixin content-styles($height, $width) {
  .content {
    height: $height;
    width: $width;
  }
}

// Portrait orientation
@media (orientation: portrait) {
  // Phones
  @media (min-width: 300px) and (max-width: 599px) {
    @include language-buttons-container-styles(7%);
    @include content-styles(80vh, 80vw);
  }

  // Tablets and Bigger Tablets
  @media (min-width: 600px) and (max-width: 1024px) {
    @include language-buttons-container-styles(4%);
    @include content-styles(75vh, 70vw);
  }
}

// Landscape orientation
@media (orientation: landscape) {
  // Horizontal phones
  @media (min-width: 600px) and (max-width: 767px) {
    @include content-styles(70vh, 60vw);
  }

  // Horizontal tablets and other devices
  @media (min-width: 768px) and (max-width: 1024px) {
    @include content-styles(65vh, 60vw);
  }

  // Laptops and bigger devices
  @media (min-width: 1024px) and (max-width: 1440px) {
    @include content-styles(70vh, 65vw);
  }
}