// Portrait orientation
@media (orientation: portrait) {
  // Phones
  @media (min-width: 300px) and (max-width: 599px) {
    .language-buttons-container {
      margin-bottom: 7%;
    }

    .content {
      width: 80%;
    }
  }

  // Tablets and Bigger Tablets
  @media (min-width: 600px) and (max-width: 1024px) {
    .language-buttons-container {
      margin-bottom: 4%;
    }

    .content {
      width: 70%;
    }
  }
}

// Landscape orientation
@media (orientation: landscape) {
  // Horizontal phones and tablets
  @media (min-width: 600px) and (max-width: 1024px) {
    .content {
      height: 75%;
      width: 60%;
    }
  }

  // Laptops and bigger devices
  @media (min-width: 1024px) and (max-width: 1440px) {
    .content {
      width: 65%;
    }
  }
}