// Variable initialization

$portrait-margin-bottom-phone: 7%;
$portrait-margin-bottom-tablet: 4%;
$height-portrait-phone: 80vh;
$width-portrait-phone: 80vw;
$height-portrait-tablet: 75vh;
$width-portrait-tablet: 70vw;
$height-landscape-phone: 80vh;
$width-landscape-phone: 80vw;
$height-landscape-tablet: 70vh;
$width-landscape-tablet: 60vw;
$height-landscape-laptop: 70vh;
$width-landscape-laptop: 65vw;
$height-landscape-bigger-tablet: 65vh;

// Mixin for language buttons container styles
@mixin language-buttons-container-styles($margin-bottom) {
  .language-buttons-container {
    margin-bottom: $margin-bottom;
  }
}

// Mixin for content styles
@mixin content-styles($height, $width) {
  .content {
    height: $height;
    width: $width;
  }
}

// Portrait orientation
@media (orientation: portrait) {
  // Phones
  @media (min-width: 300px) and (max-width: 599px) {
    @include language-buttons-container-styles($portrait-margin-bottom-phone);
    @include content-styles($height-portrait-phone, $width-portrait-phone);
  }

  // Tablets and Bigger Tablets
  @media (min-width: 600px) and (max-width: 1024px) {
    @include language-buttons-container-styles($portrait-margin-bottom-tablet);
    @include content-styles($height-portrait-tablet, $width-portrait-tablet);
  }
}

// Landscape orientation
@media (orientation: landscape) {
  // Horizontal phones
  @media (min-width: 300px) and (max-width: 599px) {
    @include language-buttons-container-styles($portrait-margin-bottom-phone);
    @include content-styles($height-landscape-phone, $width-landscape-phone);
  }

  // Horizontal tablets
  @media (min-width: 600px) and (max-width: 767px) {
    @include content-styles($height-landscape-tablet, $width-landscape-tablet);
  }

  // Bigger horizontal tablets and other devices
  @media (min-width: 768px) and (max-width: 1024px) {
    @include content-styles($height-landscape-bigger-tablet, $width-landscape-tablet);
  }

  // Laptops and bigger devices
  @media (min-width: 1024px) and (max-width: 1440px) {
    @include content-styles($height-landscape-laptop, $width-landscape-laptop);
  }
}